<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Tour of Heroes</span>
      <span class="spacer"></span>

      <nav>
        <ul>
            <li><a routerLink="heroes/top5" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="heroes/all" routerLinkActive="active">Heroes</a></li>
        </ul>
        </nav>    
    </mat-toolbar>
  </p>
